<div *ngIf="commitsArray.length">
    <div class="container update" *ngFor="let commit of commitsArray">
        <div class="row">
            <div class="col">
                <span class="badge bg-danger rounded-pill" *ngIf="commit.index == -1">Local</span>
                <span class="badge rounded-pill" [ngClass]="{'bg-primary': !lastLoad, 'bg-warning': lastLoad}" *ngIf="commit.index == 0">Versão atual {{ lastLoad ? '- ' + lastLoad : '' }}</span>
                <h4>{{commit.version}} <small>{{ commit.dateStr }}</small></h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <pre>{{ commit.message }}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a *ngIf="commit.htmlUrl" href="{{ commit.htmlUrl }}" target="_blank">Ver commit</a>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="commitsArray.length && errorMsg">
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
                Não foi possível atualizar o histórico de updates
                <pre>{{ errorMsg }}</pre>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="!commitsArray.length && loaded">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Não foi possível carregar o histórico de updates
                <pre *ngIf="errorMsg">{{ errorMsg }}</pre>
            </div>
        </div>
    </div>
</div>