@import '../../colors.scss';

.update:not(:nth-child(1)) {
    margin-top: 100px;
}
.update {
    pre {
        margin: 0px;
    }
}

.alert-danger pre {
    color: #842029;
    background-color: rgba($color: #000000, $alpha: .05);
    margin-top: 10px;
    padding: 20px 10px;
}
.alert-warning pre {
    color: #664D03;
    background-color: rgba($color: #000000, $alpha: .05);
    margin-top: 10px;
    padding: 20px 10px;
}
.alert-warning {
    margin-top: 100px;
}