<div class="mb-4">

    <div class="mb-4">
        <label for="chave" class="form-label">Chave</label>
        <div class="input-group">
            <input type="text" class="form-control" id="chave" [(ngModel)]="chave" required>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Gerar</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" (click)="gerarChaveAleatoria()">Chave aleatória</button></li>
                <li><button class="dropdown-item" (click)="gerarChaveComPalavraAleatoria()">Palavra aleatória</button></li>
                <li><button class="dropdown-item" (click)="gerarChaveComFraseAleatoria()">Frase aleatória</button></li>
            </ul>
        </div>
    </div>
    
    <div class="mb-2">
        <label for="texto" class="form-label">Texto</label>
        <textarea class="form-control" id="texto" rows="5" [(ngModel)]="texto" required></textarea>
        <p class="text-end">{{ texto.length > 0 ? texto.length : '' }}</p>
    </div>
    
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary me-2 mt-2" (click)="criptografar()" [disabled]="!chave.trim() || !texto.trim()">Criptografar</button>
            <button type="button" class="btn btn-outline-primary me-2 mt-2" (click)="descriptografar()" [disabled]="!chave.trim() || !texto.trim()">Descriptografar</button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-secondary mt-2" (click)="limpar()">Limpar</button>
        </div>
    </div>
</div>

<text-block *ngIf="resultado != ''">
    {{ resultado }}
</text-block>