.conteudo-pagina {
    max-width: 800px;
    min-height: 40vh;
}

footer > div {
    display: flex;
    align-items: center;
    height: 50vh;
}


footer i,
footer p,
footer a {
    color: #000;
    opacity: 0.8;
    transition: .2s;
}

footer i {
    font-size: 70px;
}

footer p {
    margin: 12px 0px;
}

footer a:hover {
    opacity: 1;
}

footer p.text-center {
    background-color: #0D6EFD;
    margin: 0px;
    padding: 8px 0px;
}
footer p.text-center a, footer p.text-center {
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
}
footer p.text-center a:hover {
    opacity: .5;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #0D6EFD;
}

.nav-link.active {
    border-bottom: 3px solid #0D6EFD;
    color: #0D6EFD;
}

p.lead {
    font-size: 20px;
}
p.lead img {
    width: 25px;
}