
main {
    max-width: 800px;
    margin: auto;
    min-height: 50vh;
}

nav {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-background-border);

    .nav-link {
        color: var(--color-text) !important;
    }
    .nav-link:hover {
        color: var(--color-theme) !important;
    }
    .nav-link.active {
        transition: 0s;
        color: var(--color-theme) !important;
        border-bottom: 3px solid var(--color-theme);
    }

    .modoEscuroDiv {
        height: 100%;
        top: 0px;
        right: 16px;
        position: absolute;
        display: flex;
        align-items: center;
    }
}

.underline {
    text-decoration: underline !important;
}

footer {
    padding: 140px 0px 140px 0px;
    
    a {
        color: var(--color-second) !important;
    }
    a:hover {
        color: var(--color-second-hover) !important;
    }

    .mini-logo {
        width: 25px;
    }

    .fa-github {
        font-size: 70px;
    }
}

p.app-version {
    background-color: var(--color-theme);
    margin: 0px;
    padding: 4px;
    a {
        color: #FFFFFF !important;
    }
}

.bg-danger {
    background-color: #DC3545;
}