<!-- inicio - Menu principal -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col text-center">
            <h1><i class="fa-solid fa-hashtag"></i> Cifra de Vigenère</h1>
        </div>
    </div>
</div>
<nav class="container-fluid mb-5 sticky-top">
    <div class="row">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" [class]="currentRoute == '/' ? 'active' : ''" aria-current="page" routerLink="/">Cifra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class]="currentRoute.includes('/artigo') ? 'active' : ''" routerLink="/artigo">Artigo</a>
            </li>
        </ul>
    </div>
</nav>
<!-- fim - Menu principal -->

<!-- inicio - Conteúdo -->
<main class="container conteudo-pagina">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<!-- fim - Conteúdo -->

<!-- inicio - Rodapé -->
<footer>
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md col-xs-12 text-center">
                    <a href="https://github.com/andrewhermelino/cifra-de-vigenere" target="_blank" title="Repositório desse projeto"><i class="fa-brands fa-github"></i></a>
                    <p><a href="https://github.com/andrewhermelino" target="_blank" title="Meu perfil no Github">Andrew Hermelino</a></p>
                </div>
                <div class="col-md col-xs-12 text-center">
                    <p class="lead">
                        Os artigos desse projeto foram escritos ou revisados usando <a href="https://chat.openai.com/" title="Acessar chat" target="_blank">chatGPT</a>&nbsp;<img src="../../../assets/img/chatGPT.png" alt="chatGPT logo">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" *ngIf="ultimaAtualizacao != '' && linkUltimoCommit != '' && versaoAtual != ''"><a routerLink="/updates"> v1.{{ versaoAtual }}.0 ({{ ultimaAtualizacao }})</a></p>
</footer>
<!-- inicio - Rodapé -->

