$color-theme: #0D6EFD;
$color-theme-hover: #0B5ED7;
$color-second: #6C757D;
$color-second-hover: #5C636A;
$color-text: #212529;
$color-text-hover: #999999;
$color-background: #FFFFFF;
$color-background-hover: #F8F9FA;
$color-background-border: #E9E9E9;