<div class="container textBLock">
    <div class="row header" *ngIf="content.length">
        <div class="col text-end py-2">
            <div class="container">
                <div class="row">
                    <div class="col p-0 text-start">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="quebrarLinha" [(ngModel)]="quebrarLinha">
                            <label class="form-check-label" for="quebrarLinha">Quebrar linha</label>
                        </div>
                    </div>
                    <div class="col-3 p-0">
                        <button
                            type="button"
                            class="btn btn-outline-primary btn-sm"
                            (click)="copyText()"
                            title="Copiar para área de transferência"
                        >
                        <i class="fa-regular fa-clipboard"></i> {{ btnText }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col">
            <pre *ngIf="content.length" id="ngContent" [ngClass]="{'pre-wrap': quebrarLinha}">{{ content }}</pre>
            <pre *ngIf="!content.length" class="vazio">Nenhuma mensagem foi cifrada ou decifrada ainda...</pre>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <p>{{ content.length ? content.length : '' }}</p>
        </div>
    </div>
</div>