
.container {
    background-color: var(--color-background-hover);
    margin: 0px !important;
    min-width: 100% !important;
}

.header {
    border-bottom: 1px solid var(--color-background-hover);
}

.content {
    > div {
        padding: 0px;
    }
}

.vazio {
    color: var(--color-text-hover);
}

pre {
    margin: 0px;
    padding: 16px;
}

p {
    margin-bottom: 8px;
}

.pre-wrap {
    white-space: pre-wrap;
}
