.textBLock {
    background-color: #F8F9FA;
}

.row.header{
    border-bottom: 1px solid #dddddd;
}

.row.content {
    padding-top: 12px;
}

#ngContent {
    color: #000000;
}

.pre-wrap {
    white-space: pre-wrap;
}

.vazio {
    opacity: .5;
    font-style: italic;
    margin-bottom: 0px;
}