/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

pre {
    background-color: #F8F9FA;
    padding: 12px;
}