<div class="mb-4">

    <div class="mb-4">
        <label for="chave" class="form-label">Chave</label>
        <div class="input-group mb-1">
            <input type="text" class="form-control" id="chave" [(ngModel)]="chave" required>
            <button class="btn btn-outline-secondary" (click)="gerarChaveAleatoria()">Gerar</button>
        </div>
        <p><a href="#" (click)="copiarChave()">{{ chave.trim() ? 'Copiar chave' : ''}}</a></p>
    </div>
    
    <div class="mb-4">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem" rows="10" [(ngModel)]="mensagem" required></textarea>
        <div class="row">
            <div class="col"><p><a href="#" (click)="colarTexto()">Colar texto</a></p></div>
            <div class="col"><p class="text-end">{{ mensagem.length > 0 ? mensagem.length : '' }}</p></div>
        </div>
    </div>

    <div class="mb-4">
        <label for="modo" class="form-label">Modo de criptografia</label>
        <div class="mb-1">
            <div class="form-check" *ngFor="let modo of modoArray">
                <input class="form-check-input" type="radio" name="modo" id="" [(ngModel)]="modoSelecionado" [value]="modo">
                <label class="form-check-label" for="">
                    {{modo}}
                </label>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary me-2 mt-2" (click)="criptografar()" [disabled]="!chave.trim() || !mensagem.trim()">Criptografar</button>
            <button type="button" class="btn btn-outline-primary me-2 mt-2" (click)="descriptografar()" [disabled]="!chave.trim() || !mensagem.trim()">Descriptografar</button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-secondary mt-2" (click)="limpar()">Limpar</button>
        </div>
    </div>
</div>

<text-block *ngIf="resultado != ''" content="{{ resultado }}"></text-block>