<div class="mb-4">

    <div class="mb-4">
        <label for="chave" class="form-label">Chave</label>
        <div class="input-group mb-1">
            <input type="text" class="form-control" id="chave" [(ngModel)]="chave" autocapitalize="off" required (change)="onChangeChave()">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Gerar</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" (click)="gerarChaveAleatoria()">Chave aleatória</a></li>
                <li><a class="dropdown-item" (click)="gerarChaveComPalavraAleatoria()">Palavra aleatória</a></li>
                <li><a class="dropdown-item" (click)="gerarChaveComFraseAleatoria()">Frase aleatória</a></li>
            </ul>
        </div>
        <p><a *ngIf="canSaveValueOnClipboard && chave.trim()" (click)="copiarChave()">Copiar chave</a></p>
    </div>

    <div class="mb-4">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem" rows="10" [(ngModel)]="mensagem" required (change)="onChangeMensagem()"></textarea>
        <div class="row">
            <div class="col"><p><a *ngIf="canReadValueFromClipboard" (click)="colarTexto()">Colar texto</a></p></div>
            <div class="col"><p class="text-end">{{ mensagem.length > 0 ? mensagem.length : '' }}</p></div>
        </div>
    </div>

    <div class="mb-4">
        <label for="modo" class="form-label">Modo de criptografia</label>
        <div class="mb-1">
            <div class="form-check" *ngFor="let modo of modoArray">
                <input class="form-check-input" type="radio" name="modo" id="" [(ngModel)]="modoSelecionado" [value]="modo" (click)="onChangeModo()">
                <label class="form-check-label" for="">
                    {{ modo }}
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modalModoCompleto"><span *ngIf="modo == 'Completo'" class="badge rounded-pill bg-secondary">?</span></a>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary me-2 mt-2" (click)="criptografar()">Criptografar</button>
            <button type="button" class="btn btn-outline-primary me-2 mt-2" (click)="descriptografar()">Descriptografar</button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-secondary mt-2" (click)="limpar()">Limpar</button>
        </div>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let alert of waringAlerts">
    {{ alert }}
    <button type="button" class="btn-close" (click)="closeAlert(alert)"></button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let alert of dangerAlerts">
    {{ alert }}
    <button type="button" class="btn-close" (click)="closeAlert(alert)"></button>
</div>
<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngFor="let alert of infoAlerts">
    {{ alert }}
    <button type="button" class="btn-close" (click)="closeAlert(alert)"></button>
</div>

<text-block content="{{ resultado }}"></text-block>


<div style="margin-top: 100px;">
    <h4>Leia sobre a Cifra de Vigenère</h4>
    <ul class="list-unstyled">
        <li><a routerLink="/artigo" fragment="oque-e-a-cifra-de-vigenere">Oque é a cifra de Vigenere</a></li>
        <li><a routerLink="/artigo" fragment="a-cifra-de-cesar">A cifra de César</a></li>
        <li><a routerLink="/artigo" fragment="cifra-de-vigenere-na-pratica">Cifra de Vigenere na prática</a></li>
        <li><a routerLink="/artigo" fragment="quem-foi-vigenere">Quem foi Vigenère</a></li>
        <li>
            <a routerLink="/artigo" fragment="a-matematica-da-cifra-de-vigenere">A matemática da cifra de vigenere</a>
            <ul>
                <li><a routerLink="/artigo" fragment="a-equacao-da-criptografia">A equação da criptografia</a></li>
                <li><a routerLink="/artigo" fragment="a-equacao-da-descriptografia">A equação da descriptografia</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- inicio - Modal modo de criptografia simples -->
<div class="modal fade" id="modalModoCompleto" tabindex="-1" aria-labelledby="modalModoCompletoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModoCompletoLabel">Oque é o modo de criptografia completo?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>O modo de criptografia completo é uma opção mais avançada em comparação com o modo de criptografia simples. O modo completo engloba um conjunto de 92 caracteres, incluindo letras maiúsculas e minúsculas, números, espaços, pontuação e caracteres especiais. Isso significa que a codificação é capaz de fornecer uma maior segurança para as informações criptografadas, tornando-as mais difíceis de serem decodificadas ou acessadas por pessoas não autorizadas. Diferente do modo de criptografia simples que utiliza apenas 26 letras maiusculas do alfabeto e mantem os espaços.</p>
                <p>Além disso, todos os caracteres da mensagem que não pertençam aos 92 caracteres do conjunto de caracteres são convertidos em seus respectivos códigos hexadecimais e, em seguida, criptografados juntamente com a mensagem. Dessa forma, qualquer caractere do conjunto Unicode UTF-8, inclusive emojis, pode ser criptografado sem nenhum problema.</p>
                <p>Para ilustrar, a frase "Olá mundo! 😎" é primeiro convertida em uma sequência de códigos Unicode, como "OlU+000E1 mundo! U+1F60E". Em seguida, essa sequência é criptografada. Para decodificar a mensagem, a sequência de códigos é convertida novamente em caracteres, resultando na mensagem original "Olá mundo! 😎".</p>
                <p>Segue um exemplo do quadrado de Vigenère usando esses 92 caracteres:</p>
                <tabela-vigenere flUsarTabela="Completo"></tabela-vigenere>
            </div>
        </div>
    </div>
</div>
<!-- fim - Modal modo de criptografia simples -->
