@import '../../colors.scss';

figure {
    padding: 90px 0px;
}

h1, h2 {
    margin-top: 50px;
    scroll-margin-top: 50px;
}

h1 a, h2 a {
    display: none;
}

h1:hover a, h2:hover a {
    display: inline-block;
}

small {
    opacity: 1;
}

em {
    opacity: .5;
}