figure {
    margin: 150px 0px;
}

h1 {
    margin-top: 50px;
    scroll-margin-top: 50px;
}

h1 > a, h2 > a {
    text-decoration: none;
    display: none;
    font-size: 25px;
}
h2 > a {
    font-size: 20px;
}

h1:hover a, h2:hover a {
    display:inline-block;
}

h2 {
    margin-top: 50px;
    scroll-margin-top: 50px;
}